.word-box-container {
    height: 325px;
}

.word-box {
    position: relative;
    overflow-y: scroll;
    max-height: 325px;
}

#insert-word {
    text-transform: uppercase;
    width: 75%;
    transition-duration: .4s;
    border: 3px solid darkslategray;
    padding: 3px;
}

.inserted_word {
    color: darkslategray;
    font-weight: bold;
}

.form {
    width: 80%;
    margin: 0 auto;
    padding-left: 9%;
    padding-right: 9%;
}

#timer-container {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    padding: 2px;
    position: relative;
}

#timer {
    width: 100%;
    height: 100%;
    background: lightseagreen;
}

#score {
    min-height: 30px;
    padding: 10px;
    background: darkslategray;
    color: white !important;
    width: 100%;
}

h2 {
    display: block;
    padding-top: 20px;
}

button {
    background: darkslategray;
    color: lightseagreen;
    border: 2px solid lightseagreen;
    padding: 5px;
    border-radius: 2px;
    transition-duration: .4s;
}

button:hover {
    background: lightseagreen;
    color: darkslategray;
    border-color: darkslategray;
}

button#enter {
    margin-left: 3px;
}

#prefix {
    font-weight: bold;
    font-size: 20px;
}

.whos-turn {
    display: block;
    width: 100%;
    font-size: 26px;
    margin-top: 15px;
    text-align: center;
}