{% extends 'base.html' %}

{% block head %}
<title>Prefiksy</title>
{% endblock %}

{% block body %}
    <section id="playground" class="container">
        <div class="row">
            <div class="col">
                <h2 id="player_one">{{ player1.name }}: <span class="score">0</span></h2>
                <hr>
            </div>
            <div class="col">
                <h2 id="player_two">{{ player2.name }}: <span class="score">0</span></h2>
                <hr>
            </div>
        </div>
        <div class="row word-box-container">
            <div id="word-box-left" class="col word-box">

            </div>
            <div id="word-box-right" class="col word-box">

            </div>
        </div>
        <div class="row">
            <div class="form">
                <label id="prefix" for="insert-word">{{ prefix }}</label><input id="insert-word" type="text"><button type="button" id="enter">ENTER</button>
                <button type="button" id="pass">PAS</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Teraz Twoja kolej, <span id="current-player"></span>
            </div>
        </div>
        <div class="row">
            <div id="error" class="col">

            </div>
        </div>
    </section>
{% endblock %}

