{% extends 'base.html' %}

{% block head %}
<title>Prefiksy</title>
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>PREFIXY (tryb gorące krzesło)</h1>
                <h2>Instrukcja</h2>
                <p>
                    Serdecznie Witam Ciebie i Twojego współgracza w grze Prefixy!
                </p>
                <p>
                    Gra polega na tym, że zostaje wylosowany trójliterowy prefiks słowa w języku polskim, np. 'STE' i Waszym zadaniem
                    jest wpisywanie na zmianę słów zaczynających się na ten prefiks. Słowa nie mogą się powtarzać.
                    UWAGA! Wyrazy zawierające polskie znaki są wyżej punktowane!
                    Gra kończy się po 10 turach. Zwycięża osoba, której udało się zgromadzić większą liczbę punktów.
                </p>
            </div>
        </div>
        <div class="row">
            <form class="col" method="get" action="/hotseat">
                <label for="player1Name">Imię gracza pierwszego</label>
                <input id="player1Name" type="text" name="player1Name">
                <label for="player2Name">Imię gracza drugiego</label>
                <input id="player2Name" type="text" name="player2Name">
                <input type="submit" value="START">
            </form>
        </div>
    </section>
{% endblock %}

