{% extends 'base.html' %}

{% block head %}
<title>Prefiksy</title>
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <form method="get" action="/hotseat">
                <label for="player1Name">Imię gracza pierwszego</label>
                <input id="player1Name" type="text" name="player1Name">
                <label for="player2Name">Imię gracza drugiego</label>
                <input id="player2Name" type="text" name="player2Name">
                <input type="submit" value="START">
            </form>
        </div>
    </section>
{% endblock %}

