{% extends 'base.html' %}

{% block head %}
<title>Prefiksy</title>
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>PREFIXY (tryb gorące krzesło)</h1>
                <h2>Instrukcja</h2>
                <p>
                    Serdecznie Witam Ciebie i Twojego współgracza w grze Prefixy!
                </p>
                <p>
                    Gra polega na tym, że zostaje wylosowany trójliterowy prefiks słowa w języku polskim, np. 'STE' i Waszym zadaniem
                    jest wpisywanie na zmianę słów zaczynających się na ten prefiks. Słowa można przesyłać za pomocą przycisku Enter na klawiaturze
                    lub za pomocą przycisku znajdującego się po prawej stronie od pola tekstowego.
                    Gra posiada również mechanizm pasowania: gdy gracz podczas swojej tury stwierdzi, że nie jest w stanie niczego więcej wymyślić,
                    przysługuje mu pas. Sprawia to, że kończy swoją grę. Tura przechodzi na drugiego gracza, który może wpisywać kolejne słowa
                    dopóki sam nie spasuje lub dopóki gra się nie skończy po odpowiedniej liczbie słów.
                    Słowa nie mogą się powtarzać.
                    UWAGA! Wyrazy zawierające polskie znaki są wyżej punktowane!
                    Zwycięża osoba, której udało się zgromadzić większą liczbę punktów.
                </p>
                <p>
                    Proszę, aby Wasze imiona zawierały tylko litery lub cyfry. W przeciwnym przypadku zostanie im przypisana wartość domyślna.
                </p>
                <p>
                    Z pozdrowieniami i życzeniem dobrej zabawy,
                </p>
                <p class="signature">Karolina Feluś</p>
            </div>
        </div>
        <div class="row">
            <form class="col" method="get" action="/hotseat">
                <label for="player1Name">Imię gracza pierwszego</label>
                <input id="player1Name" type="text" name="player1Name">
                <label for="player2Name">Imię gracza drugiego</label>
                <input id="player2Name" type="text" name="player2Name">
                <input type="submit" value="START">
            </form>
        </div>
    </section>
{% endblock %}

